@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050816;
  --foreground: #ffffff;
  --gold: #d4af37;
  --pink: #ff4fa3;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.container-custom {
  @apply max-w-7xl mx-auto px-4 md:px-6 lg:px-8;
}

.gold-text {
  color: var(--gold);
}

.heading-font {
  font-family: var(--font-playfair);
}

.heroSwiper .swiper-pagination {
  bottom: 14px !important;
}

.heroSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.4);
  opacity: 1;
  transition: all 0.3s ease;
}

.heroSwiper .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 999px;
  background: linear-gradient(
    to right,
    #ec4899,
    #facc15
  );
}